.post-list-container {
  display: flex;
  justify-content: center;
  /* background-color: brown; */
}

.post-card-container:first-child{
  background-color: brown;
  position: relative;
}

.post-list-items {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 20px 15px;
  justify-content: space-between;
  /* background-color: green; */
}

